
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Boarding Pass</title>
  <link rel="stylesheet" href="boardingpass.css">
</head>
<body>
<div class="box">
  <div class="ticket">
    <span class="airline">Javier Way</span> </br>
    <span class="boarding">BOARDING PASS</span> </br>
    <div class="content">
      <span class="name">PASSENGER NAME: <span th:text="${fname} + ' ' + ${lname}"></span></span> </br>
      <span class="origin">Origin: <span th:text="${origin}"></span></span> </br>
      <span class="destination">Destination:  <span th:text="${destination}"></span></span></br>
      <span class="departure-date">DEPARTURE DATE: <span th:text="${departureDate}"></span></span></br>
      <span class="round-trip">ROUND TRIP: <span th:text="${roundTrip}"></span></span></br>
      <span class="flight-time">Flight Time: <span th:text="${flightTime}"></span></span></br>
      <span class="departure-time">Departure Time: <span th:text="${dTimes}"></span></span></br>
      <!-- Flight Path Section -->
      <div class="flight-path">
        <h3>Flight Path:</h3>
        <h3 th:each="airport : ${flightPath}" th:text="${airport}"> --> </h3>
      </div>
      <!-- Other details -->
    </div>
  </div>
</div>
</body>
</html>
